{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Listing Quetions {% endblock %}

{% block style %}
    <style>
        .link-style {
            text-decoration:none;
            color:rgb(28,90,4);

        .link-style:hover {
            text-decoration:none;
            color:gray;
    </style>

{% endblock %}

{% block body %}
    <div class="container" mt-5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Question</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Answer</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="card mt-4 py-3 shadow">
                  <h4 class="card-hearder">You have asked {{question.count}} question</h4>
                  <div class="card-body">
                      {% for question in question %}
                      <h5 class="card-text"><a class="link-style" href="{% url 'qdetails' question.slug %}">{{question.title}}</a> </h5>
                      <a class="btn btn-outline-danger -sm mt-3" href="{% url 'delete_question' question.slug %}">Delete</a>
                      <a class="btn btn-outline-success -sm mt-3" href="{% url 'update_question' question.slug %}">Update</a>
                      <hr>
                      {% endfor %}

                  </div>

              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="card mt-4 py-3 shadow">
                  <h4 class="card-hearder">You have answered {{answer.count}} question</h4>
                  <div class="card-body">
                      {% for answer in answer %}
                      <p class="card-text">{{answer.description}}</p>
                      <a class="btn btn-outline-danger -sm mt-3" href="{% url 'delete_answer' answer.id %}">Delete</a>
                      <a class="btn btn-outline-success -sm mt-3" href="{% url 'update_answer' answer.id %}">Update</a>
                      <hr>
                      {% endfor %}

                  </div>

              </div>
          </div>

    </div>


{% endblock %}
